---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white text-black">
		<Header />
		<main class="w-960 mx-auto">
			<section>
				<ul class="flex flex-wrap gap-8 list-none p-0 m-0">
					{
						posts.map((post) => (
							<li class={`${post === posts[0] ? "w-full text-center mb-4" : "w-1/2 mb-4"}`}>
								<a href={`/blog/${post.slug}/`} class="block transition-all duration-200 hover:text-blue-500">
									<img
										src={post.data.heroImage}
										alt=""
										class={`${post === posts[0] ? "w-full" : ""} mb-2 rounded-lg hover:shadow-md`}
									/>
									<h4 class={`${post === posts[0] ? "text-6xl" : ""} title m-0`}>{post.data.title}</h4>
									<p class="date m-0 text-gray-500">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
